<!DOCTYPE html>

<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<!-- 引入css样式  -->
<head th:include="common_head.html::commonHeader('Ororus - eCommerce HTML5 Template')"></head>


<body>

	<div th:include="common_top.html::onloadtop"></div>
    

        <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

        <!-- Start of Breadcrumbs -->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <a class="breadcrumb-item" href="blog.html">Blog</a>
                            <span class="breadcrumb-item active">Blog Details</span>
                        </nav>
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of Breadcrumbs -->

        <!-- Start of Main Content Wrapper -->
        <div id="content" class="main-content-wrapper">
            
            <!-- Start of Blog Posts Section -->
            <div class="blog-posts-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
                            <main id="primary" class="site-main">
                                <div class="single-post-wrapper">
                                   <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
											<article class="blog-post post-entry">
												<div class="single-post">
													<div class="content-wrapper">
	                                                    <div class="post-media image-popup">
                                                            <figure>
                                                                <a href="assets/images/blog/blog-single-large.jpg" data-size="1920x930">
                                                                    <img src="assets/images/blog/blog-single.jpg" alt="Blog Details">
                                                                    <div class="image-overlay"><i class="ion ion-ios-add"></i></div>
                                                                </a>
                                                                <figcaption class="visually-hidden">
                                                                    <span>Blog Details</span>
                                                                </figcaption>
                                                            </figure>
	                                                    </div>
	                                                    <div class="post-content">
                                                            <h3 class="post-title">Top 10 buying tips to follow in 2018</h3>
                                                            <div class="post-meta">
                                                                <p>
                                                                    <span>By 
                                                                        <span class="single-meta">
                                                                            <a href="#">Ororus Themes</a>
                                                                        </span>
                                                                    </span> 
                                                                    <span class="post-categories">In 
                                                                        <span class="single-meta">
                                                                            <a href="#">Tips, </a>
                                                                            <a href="#">Shopping</a>
                                                                        </span>
                                                                    </span> 
                                                                    <span>Posted on 
                                                                        <span class="single-meta">
                                                                            <a href="#">Jun 14, 2018</a>
                                                                        </span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                            <div class="post-description">
                                                                <div class="post-details">
                                                                    <p>There boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain, but because occasionally <a href="#">circumstances occur</a> in which toil and pain can procure him some great pleasure  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain.</p>

                                                                    <p>Someone boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt obtain pain of itself, because it is pain, but <a href="#">because occasionally circumstances occur</a> in which toil and pain can procure him some great pleasure obtain.</p>

                                                                    <div class="row align-items-center my-4 my-sm-5">
                                                                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-sm-4 mb-md-0">
                                                                            <img src="assets/images/blog/blog-1.jpg" alt="Post Inner Image">
                                                                        </div>
                                                                         <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                                            <img src="assets/images/blog/blog-6.jpg" alt="Post Inner Image">
                                                                        </div>
                                                                    </div>

                                                                    <p>Someone boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure obtain corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain of itself, because it is pain</p>

                                                                    <blockquote class="blockquote">
                                                                        <p>"While most companies strive to deliver seamless and issue-free customer service, what they often fail to understand is just how significantly their processes good and bad can impact their overall service delivery and, ultimately, how their customers view them."</p>
                                                                        <footer class="blockquote-footer">Devid Chory</footer>
                                                                    </blockquote>

                                                                    <p>There boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi <a href="#">tempora incidunt obtain</a> pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure someone boluptatum deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non </p>
                                                                </div>
                                                            </div>
	                                                    </div>
	                                                    <div class="post-footer">
                                                            <div class="d-md-flex justify-content-sm-between">
                                                                <div class="tags">
                                                                    <p>Tags:</p>
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><a href="#">design,</a></li>
                                                                        <li class="list-inline-item"><a href="#">developmen,</a></li>
                                                                        <li class="list-inline-item"><a href="#">sketch</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="post-share">
                                                                    <p>Share:</p>
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><a href="#" class="bg-facebook"><i class="fa fa-facebook"></i></a></li>
                                                                        <li class="list-inline-item"><a href="#" class="bg-twitter"><i class="fa fa-twitter"></i></a></li>
                                                                        <li class="list-inline-item"><a href="#" class="bg-gplus"><i class="fa fa-google-plus"></i></a></li>
                                                                        <li class="list-inline-item"><a href="#" class="bg-pinterest"><i class="fa fa-pinterest"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
	                                                    </div>
	                                                </div>
	                                            </div> <!-- end of blog-grid -->
											</article> <!-- end of blog-post -->

                                            <div class="author-box">
                                                <div class="media">
                                                    <div class="author-image mb-4 mb-sm-4 mb-md-0 mr-md-4">
                                                        <img src="assets/images/testimonial/testimonial-2.jpg" alt="blog-comment">
                                                    </div>
                                                    <div class="author-description media-body">
                                                        <h6>Author: <a href="#">Stuart Smith</a></h6>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus harum, est fuga veritatis esse dignissimos optio sunt obcaecati sit quos. Maiores tempora harum fugit voluptates?</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end of author-box -->

                                            <div class="post-pagination">
                                                <ul class="pagination">
                                                    <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous</a></li>
                                                    <li class="ml-auto"><a href="#">Next<i class="fa fa-long-arrow-right"></i></a></li>
                                                </ul>
                                            </div> <!-- end of post-pagination -->

                                            <div id="comments" class="comments-area">
                                                <h3>This post has 4 Comments</h3>
                                                <ol class="comment-list list-unstyled">
                                                    <li class="comment-single media">
                                                        <div class="comment-author-thumb mr-3 mr-sm-4">
                                                            <img src="assets/images/testimonial/testimonial-1.jpg" alt="Comment Author">
                                                        </div>
                                                        <div class="comment-content media-body">
                                                            <div class="comment-meta d-flex justify-content-between align-items-top">
                                                                <div class="comment-title">
                                                                    <h6>Alva Ano</h6>
                                                                    <span><span class="comment-date">July 14, 2018</span> at <span class="comment-time">11:27 am</span></span>
                                                                </div>
                                                                <div class="comment-reply">
                                                                    <a href=""><span>Reply</span></a>
                                                                </div>
                                                            </div>
                                                            <p>Efficiently drive robust niche markets and premium technologies. Distinctively maintain client-centric outsourcing.</p>
                                                        </div>
                                                    </li>

                                                    <li class="comment-single media flex-wrap">
                                                        <div class="comment-author-thumb mr-3 mr-sm-4">
                                                            <img src="assets/images/testimonial/testimonial-3.jpg" alt="Comment Author">
                                                        </div>
                                                        <div class="comment-content media-body">
                                                            <div class="comment-meta d-flex justify-content-between align-items-top">
                                                                <div class="comment-title">
                                                                    <h6>Amber Laha</h6>
                                                                    <span><span class="comment-date">Jun 27, 2018</span> at <span class="comment-time">06:07 pm</span></span>
                                                                </div>
                                                                <div class="comment-reply">
                                                                    <a href=""><span>Reply</span></a>
                                                                </div>
                                                            </div>
                                                            <p>Credibly enhance cross-platform results through fully tested architectures. Dynamically recaptiualize unique models.</p>
                                                        </div>

                                                        <ol class="comment-list nested">
                                                            <li class="comment-single media">
                                                                <div class="comment-author-thumb mr-3 mr-sm-4">
                                                                    <img src="assets/images/testimonial/testimonial-4.jpg" alt="Comment Author">
                                                                </div>
                                                                <div class="comment-content media-body">
                                                                    <div class="comment-meta d-flex justify-content-between align-items-top">
                                                                        <div class="comment-title">
                                                                            <h6>Dewey Tetzlaff</h6>
                                                                            <span><span class="comment-date">Jun 29, 2018</span> at <span class="comment-time">05:56 pm</span></span>
                                                                        </div>
                                                                        <div class="comment-reply">
                                                                            <a href=""><span>Reply</span></a>
                                                                        </div>
                                                                    </div>
                                                                    <p>Synergistically promote business leadership skills without optimal value. Holisticly incentivize technically sound.</p>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>

                                                    <li class="comment-single media">
                                                        <div class="comment-author-thumb mr-3 mr-sm-4">
                                                            <img src="assets/images/testimonial/testimonial-5.jpg" alt="Comment Author">
                                                        </div>
                                                        <div class="comment-content media-body">
                                                            <div class="comment-meta d-flex justify-content-between align-items-top">
                                                                <div class="comment-title">
                                                                    <h6>John Doe</h6>
                                                                    <span><span class="comment-date">Apr 18, 2018</span> at <span class="comment-time">12:47 pm</span></span>
                                                                </div>
                                                                <div class="comment-reply">
                                                                    <a href=""><span>Reply</span></a>
                                                                </div>
                                                            </div>
                                                            <p>Proactively revolutionize wireless applications and impactful human capital. Progressively productize professional relationships.</p>
                                                        </div>
                                                    </li>
                                                </ol> <!-- end of comment-list -->

                                                <div class="comment-form">
                                                    <h3>Leave a comment</h3>
                                                    <form action="#" method="post" id="comment_form">
                                                        <div class="row mb-3">
                                                            <div class="form-group col-12 col-sm-12 col-md-12">
                                                                <textarea id="comment" placeholder="Your Comment *" name="comment" class="form-control" required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="form-group col-12 col-sm-12 col-md-4">
                                                                <input type="text" class="form-control" id="com-name" placeholder="Name *" required>
                                                            </div>
                                                            <div class="form-group col-12 col-sm-12 col-md-4">
                                                                <input type="email" class="form-control" id="com-email" placeholder="Email *" required>
                                                            </div>
                                                            <div class="form-group col-12 col-sm-12 col-md-4">
                                                                <input type="email" class="form-control" id="com-website" placeholder="Website" required>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-12 col-sm-12 col-md-12 mb0">
                                                                <input name="submit" type="submit" id="submit_my_comment" class="btn btn-secondary" value="Submit Comment">
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!-- end of form -->
                                                </div> <!-- end of comment form -->
                                            </div> <!-- end of comment-area -->
                                        </div>
                                    </div> <!-- end of row -->
                                </div> <!-- end of single-post-wrapper -->
                            </main> <!-- end of #primary -->
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
                            <aside id="secondary" class="widget-area">
                                <div class="sidebar-widget search-widget">
                                    <h2 class="widgettitle">Search</h2>
                                    <div class="search-content">
                                        <form action="#" class="input-group">
                                            <input class="form-control" type="search" name="s" title="search" placeholder="Search...">
                                            <input type="submit" class="btn btn-secondary" value="search">
                                        </form>
                                    </div>
                                </div> <!-- end of sidebar-widget -->

                                <div class="sidebar-widget recent-posts">
                                    <h2 class="widgettitle">Recent Posts</h2>
                                    <div class="recent-posts-widget-container">
                                        <div class="posts-single media">
                                            <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                <a href="#">
                                                    <img src="assets/images/blog/blog-thumb-1.jpg" alt="Blog Image">
                                                    <div class="overlay"></div>
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <div class="post-title">
                                                    <h5><a href="">Aypi non habent claritatem insitam</a></h5>
                                                </div>
                                                <div class="post-date">09 Aug</div>
                                            </div>
                                        </div> <!-- end of posts-single -->

                                        <div class="posts-single media">
                                            <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                <a href="#">
                                                    <img src="assets/images/blog/blog-thumb-2.jpg" alt="Blog Image">
                                                    <div class="overlay"></div>
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <div class="post-title">
                                                    <h5><a href="">Bypi non habent claritatem insitam</a></h5>
                                                </div>
                                                <div class="post-date">09 Aug</div>
                                            </div>
                                        </div> <!-- end of posts-single -->

                                        <div class="posts-single media">
                                            <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                <a href="#">
                                                    <img src="assets/images/blog/blog-thumb-3.jpg" alt="Blog Image">
                                                    <div class="overlay"></div>
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <div class="post-title">
                                                    <h5><a href="">Cabent claritatem insitam</a></h5>
                                                </div>
                                                <div class="post-date">21 Nov</div>
                                            </div>
                                        </div> <!-- end of posts-single -->
                                    </div> <!-- end of recent-posts-widget -->
                                </div> <!-- end of sidebar-widget -->

                                <div class="sidebar-widget list-widget">
                                    <h2 class="widgettitle">Categories</h2>
                                    <div class="categories-widget">
                                        <ul class="categorie-list">
                                            <li><a href="#">creative<span>(20)</span></a></li>
                                            <li><a href="#">corporate<span>(40)</span></a></li>
                                            <li><a href="#">business<span>(22)</span></a></li>
                                            <li><a href="#">consultancy<span>(15)</span></a></li>
                                            <li><a href="#">technology<span>(18)</span></a></li>
                                            <li><a href="#">general<span>(12)</span></a></li>
                                        </ul>
                                    </div> <!-- end of categories-widget -->
                                </div> <!-- end of sidebar-widget -->

                                <div class="sidebar-widget tag-cloud">
                                    <h2 class="widgettitle">Tag Cloud</h2>
                                    <div class="tags-widget">
                                        <ul>
                                            <li><a href="#">Ecommerce</a></li>
                                            <li><a href="#">Creative</a></li>
                                            <li><a href="#">Store</a></li>
                                            <li><a href="#">Ideas</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Smart</a></li>
                                        </ul>
                                    </div>
                                </div> <!-- end of sidebar-widget -->

                                <div class="sidebar-widget instagram-widget">
                                    <h2 class="widgettitle">Latest Instagram</h2>
                                    <div class="instagram-area">
                                        <div id="instagram_feed" class="image-popup"></div>
                                        <p>Follow Us <a href="https://www.instagram.com/creative.devitems/" target="_blank">@Instagram</a>.</p>
                                    </div>
                                </div> <!-- end of sidebar-widget -->
                            </aside> <!-- end of #secondary -->
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div>
            <!-- End of Blog Posts Section -->

            <!-- Start of Newsletter Section -->
            <section class="newsletter-section vpadding bgc-offset">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="newsletter-title d-lg-flex justify-content-lg-start">
                                <h6>Subscribe to our Newsletter</h6>
                                <h3>Subscribe to our newsletter and know first about all the promotions and discounts. Be always trendy.</h3>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                            <div class="newsletter-form-wrapper">
                                <form action="index.html" method="post">
                                    <input type="email" name="email" placeholder="Enter you email address here..." value="" required> 
                                    <input type="submit" class="default-btn" name="contact" value="Subscribe">
                                </form>
                            </div>
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </section>
            <!-- End of Newsletter Section -->
        </div>
        <!-- End of Main Content Wrapper -->

        <!-- Start of Footer -->
        <footer id="colophon">

            <!-- Footer Widgets Area -->
            <div class="footer-widgets-area">
                <div class="container">
                    <div class="footer-inner">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Contact Info</h4>
                                    <div class="widget-content">
                                        <p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
                                        <div class="footer-contact">
                                            <p class="footer-address">The Barn, Ullenhall, Henley in Arden B578 5CC, England</p>
                                            <p class="footer-phone"><a href="#">+1 123 456 7890</a></p>
                                            <p class="footer-email"><a href="#">support@example.com</a></p>
                                        </div>
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Recent Posts</h4>
                                    <div class="widget-content">
                                        <div class="recent-posts-widget">

                                            <!-- Slides -->
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-1.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Aypi non habent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">09 Aug</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->

                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-2.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Bypi non habent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">09 Aug</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-3.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Cabent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">21 Nov</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->

                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-4.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Cypi non habent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">09 Aug</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->
                                                </div>
                                            </div>
                                        </div> <!-- end of recent-posts-widget -->
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-2">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Information</h4>
                                    <div class="widget-content">
                                        <div class="widgetized-menu">
                                            <ul class="list-unstyled">
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Delivery Information</a></li>
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Terms &amp; Conditions</a></li>
                                                <li><a href="#">Brands</a></li>
                                                <li><a href="#">Gift Certificates</a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Popular Tags</h4>
                                    <div class="widget-content">
                                        <div class="tags-widget">
                                            <ul>
                                                <li><a href="#">headphones</a></li>
                                                <li><a href="#">mobile</a></li>
                                                <li><a href="#">gamepad</a></li>
                                                <li><a href="#">cameras</a></li>
                                                <li><a href="#">drone</a></li>
                                                <li><a href="#">tvs</a></li>
                                                <li><a href="#">smartwatch</a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>
                        </div> <!-- end of row -->
                    </div> <!-- end of footer-inner -->
                </div> <!-- end of container -->
            </div> <!-- end of footer-widgets-area -->

            <!-- Footer Description -->
            <div class="footer-description">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <h2>Online Shopping at Ororus.</h2>
                            <p>Our extensive and affordable range features the very latest electronics and gadgets including smart phones, tablets, smart watches, action cams, tv boxes, televisions, drones, 3d printers, car dvr, along with the latest cool toys like scooters, gaming accessories, doll houses, pretend play and high quality lifestyle products comprising vacuum cleaners, air purifier, kitchen tools, ceiling lights, flashlight, oil painting, etc.</p>
                        </div>
                    </div> <!-- endo of row -->
                </div> <!-- end of container -->
            </div> <!-- end of footer-description -->

            <!-- Footer Copyright -->
            <div class="footer-copyright">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <p class="copyright-text">Copyright © 2018 <a href="http://www.17sucai.com/" rel="nofollow">Ororus Themes</a>. All Right Reserved.</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="footer-payment">
                                <ul>
                                    <li><a href="#"><img src="assets/images/icons/payment-1.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-2.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-3.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-4.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-5.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-6.jpg" alt="Payment Icons"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of footer-copyright -->
        </footer>
        <!-- End of Footer -->

        <!-- Start of Scroll to Top -->
        <div id="to_top">
            <i class="ion ion-ios-arrow-forward"></i>
            <i class="ion ion-ios-arrow-forward"></i>
        </div>
        <!-- End of Scroll to Top -->
    </div>
    <!-- End of Whole Site Wrapper -->

    <!-- Initializing Photoswipe -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Photoswipe -->


    <!-- JS
    ============================================ -->

	<div th:replace="common_js.html::commonOnLoadJs"></div>
</body>
</html>
