<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<!-- 引入css样式  -->
<head th:include="common_head.html::commonHeader('Ororus - eCommerce HTML5 Template')"></head>

<body>
	<div th:include="common_top.html::onloadtop"></div>
        <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

        <!-- Start of Breadcrumbs -->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="breadcrumb-item active">My Account</span>
                        </nav>
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of Breadcrumbs -->

        <!-- Start of Main Content Wrapper -->
        <div id="content" class="main-content-wrapper">
            
            <!-- Start of My Account Wrapper -->
            <div class="my-account-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <main id="primary" class="site-main">
                                <div class="user-dashboard">
                                    <div class="user-info">
                                        <div class="row align-items-center no-gutters">
                                           <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                               <div class="single-info">
                                                   <p class="user-name">Hello <span th:text="|${session.lgedUser.lastName} ${session.lgedUser.firstName}|">John Doe</span> <br>(not [[|${session.lgedUser.lastName} ${session.lgedUser.firstName}|]]? <a class="log-out" href="login.html">Log Out</a>)</p>
                                               </div>
                                           </div>
                                           <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                               <div class="single-info">
                                                   <p>账号： [[${session.lgedUser.account}]]</p>
                                                   <p>email： [[${session.lgedUser.email}]]</p>
                                               </div>
                                           </div>
                                           <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                               <div class="single-info">
                                                   <p>积分：[[${session.lgedUser.integral}]]</p>
                                               </div>
                                           </div>
                                           <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-3">
                                               <div class="single-info text-lg-center">
                                                   <a class="btn btn-secondary" onclick="changeInfo()" href="#">修改个人信息</a>
                                               </div>
                                           </div>
                                       </div> <!-- end of row -->
                                    </div> <!-- end of user-info -->

                                    <div class="main-dashboard">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                                                <ul class="nav flex-column dashboard-list" role="tablist">
                                                    <li><a class="nav-link active" data-toggle="tab" href="#dashboard">advice消息</a></li>
                                                    <li><a class="nav-link" data-toggle="tab" href="#orders">待收货</a></li>
                                                    <li><a class="nav-link" data-toggle="tab" href="#downloads">评价</a></li>
                                                    <li><a class="nav-link" data-toggle="tab" href="#address">Addresses地址</a></li>
                                                    <!-- <li><a class="nav-link" data-toggle="tab" href="#account-details">Account details帐户详细资料</a></li> -->
                                                  <!--   <li><a class="nav-link" href="login.html">logout</a></li> -->
                                                </ul> <!-- end of dashboard-list -->
                                            </div>

                                            <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                                <!-- Tab panes -->
                                                <div class="tab-content dashboard-content">
                                                    <div id="dashboard" class="tab-pane fade show active">
                                                        <h3>latest news 未做</h3>
                                                        <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                                    </div> <!-- end of tab-pane -->

                                                    <div id="orders" class="tab-pane fade">
                                                        <h3>Pending receipt</h3>
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Goods</th>
                                                                        <th>Date</th>
                                                                        <th>Goods Number</th>
                                                                        <th>Total</th>
                                                                        <th>Actions</th>                
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr th:each="trans : ${session.transList}">
                                                                        <td><span th:each="nm : ${trans.goodsName}">[[${nm}]] &nbsp;</span></td>
                                                                        <td th:text="${trans.transdate}">September 10, 2018</td>
                                                                        <td><span th:each="num : ${trans.goodsNum}">[[${num}]] &nbsp;</span></td>
                                                                        <td>$<span th:text="${trans.totalprice}"></span></td>
                                                                        <td>
                                                                        	<a class="btn btn-secondary" th:href="|ConfirmReceipt?transid=${trans.id}|" >确认收货</a>
                                                                        	<a class="btn btn-secondary" href="#"  >申请退货</a>
                                                                        </td>
                                                                    </tr>
                                                                   <!--  <tr>
                                                                        <td>2</td>
                                                                        <td>October 4, 2018</td>
                                                                        <td>Processing</td>
                                                                        <td>$17.00 for 1 item </td>
                                                                        <td>
                                                                        	<a class="btn btn-secondary" href="cart.html">确认收货</a>
                                                                        	<a class="btn btn-secondary" href="cart.html">申请退货</a>
                                                                        </td>
                                                                    </tr> -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div> <!-- end of tab-pane -->

                                                    <div id="downloads" class="tab-pane fade">
                                                        <h3>assess</h3>
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Product</th>
                                                                        <th>Downloads</th>
                                                                        <th>Expires</th>
                                                                        <th>Download</th>               
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Volga - Ecommerce Bootstrap Template</td>
                                                                        <td>August 10, 2018</td>
                                                                        <td>Never</td>
                                                                        <td><a class="btn btn-secondary" href="#">Download File</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Gatcomart - Ecommerce HTML Template</td>
                                                                        <td>September 11, 2018</td>
                                                                        <td>Never</td>
                                                                        <td><a class="btn btn-secondary" href="#">Download File</a></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div> <!-- end of tab-pane -->

                                                    <div id="address" class="tab-pane">
                                                       <p>The following addresses will be used on the checkout page by default.</p>
                                                        <h4 class="billing-address">Billing address</h4>
                                                        <a class="btn btn-secondary my-4" href="#">edit</a>
                                                        <p>Ororus Themes</p>
                                                        <p>Bangladesh</p>   
                                                    </div> <!-- end of tab-pane -->

                                                    <div id="account-details" class="tab-pane fade">
                                                        <h3>Account details </h3>
                                                        <div class="login-form">
                                                            <form action="#">
                                                                <div class="form-group row align-items-center">
                                                                    <label class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Title</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <div class="form-row">
                                                                            <div class="col-6 col-sm-3">
                                                                                <div class="custom-radio">
                                                                                    <input class="form-check-input" type="radio" name="gender" id="male">
                                                                                    <span class="checkmark"></span>
                                                                                    <label class="form-check-label" for="male">Mr.</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-6 col-sm-3">
                                                                                <div class="custom-radio">
                                                                                    <input class="form-check-input" type="radio" name="gender" id="female">
                                                                                    <span class="checkmark"></span>
                                                                                    <label class="form-check-label" for="female">Mrs.</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="f-name" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">First Name</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <input type="text" class="form-control" id="f-name" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="l-name" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Last Name</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <input type="text" class="form-control" id="l-name" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="email" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Email Address</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <input type="text" class="form-control" id="email" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="inputpassword" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Current Password</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <input type="password" class="form-control" id="inputpassword" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="newpassword" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">New Password</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <input type="password" class="form-control" id="newpassword" required>
                                                                        <button class="pass-show-btn" type="button">Show</button>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="c-password" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Confirm Password</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <input type="password" class="form-control" id="c-password" required>
                                                                        <button class="pass-show-btn" type="button">Show</button>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label for="birth" class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Birthdate (Optional)</label>
                                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                                        <input type="text" class="form-control" id="birth" placeholder="MM / DD / YYYY" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-check row p-0 mt-5">
                                                                    <div class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-6 offset-lg-3">
                                                                        <div class="custom-checkbox">
                                                                            <input class="form-check-input" type="checkbox" id="offer">
                                                                            <span class="checkmark"></span>
                                                                            <label class="form-check-label" for="offer">Receive offers from our partners</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-check row p-0 mt-4">
                                                                    <div class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-6 offset-lg-3">
                                                                        <div class="custom-checkbox">
                                                                            <input class="form-check-input" type="checkbox" id="subscribe" required>
                                                                            <span class="checkmark"></span>
                                                                            <label class="form-check-label" for="subscribe">Sign up for our newsletter<br>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers..</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="register-box d-flex justify-content-end mt-half">
                                                                    <button type="submit" class="btn btn-secondary">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div> <!-- end of tab-pane -->                                        
                                                </div>
                                            </div>
                                        </div> <!-- end of row -->
                                    </div> <!-- end of main-dashboard -->
                                </div> <!-- end of user-dashboard -->
                            </main> <!-- end of #primary -->
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div>
            <!-- End of My Account Wrapper -->

            <!-- Start of Newsletter Section -->
            <section class="newsletter-section vpadding bgc-offset">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="newsletter-title d-lg-flex justify-content-lg-start">
                                <h6>Subscribe to our Newsletter</h6>
                                <h3>Subscribe to our newsletter and know first about all the promotions and discounts. Be always trendy.</h3>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                            <div class="newsletter-form-wrapper">
                                <form action="index.html" method="post">
                                    <input type="email" name="email" placeholder="Enter you email address here..." value="" required> 
                                    <input type="submit" class="default-btn" name="contact" value="Subscribe">
                                </form>
                            </div>
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </section>
            <!-- End of Newsletter Section -->
        </div>
        <!-- End of Main Content Wrapper -->

        <!-- Start of Footer -->
        <footer id="colophon">

            <!-- Footer Widgets Area -->
            <div class="footer-widgets-area">
                <div class="container">
                    <div class="footer-inner">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Contact Info</h4>
                                    <div class="widget-content">
                                        <p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
                                        <div class="footer-contact">
                                            <p class="footer-address">The Barn, Ullenhall, Henley in Arden B578 5CC, England</p>
                                            <p class="footer-phone"><a href="#">+1 123 456 7890</a></p>
                                            <p class="footer-email"><a href="#">support@example.com</a></p>
                                        </div>
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Recent Posts</h4>
                                    <div class="widget-content">
                                        <div class="recent-posts-widget">

                                            <!-- Slides -->
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-1.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Aypi non habent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">09 Aug</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->

                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-2.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Bypi non habent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">09 Aug</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->
                                                </div>

                                                <div class="swiper-slide">
                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-3.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Cabent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">21 Nov</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->

                                                    <div class="posts-single media">
                                                        <div class="post-thumbnail mr-4 mr-lg-3 mr-xl-4">
                                                            <a href="#">
                                                                <img src="assets/images/blog/blog-thumb-4.jpg" alt="Blog Image">
                                                                <div class="overlay"></div>
                                                            </a>
                                                        </div>
                                                        <div class="post-content media-body">
                                                            <div class="post-title">
                                                                <h5><a href="">Cypi non habent claritatem insitam</a></h5>
                                                            </div>
                                                            <div class="post-date">09 Aug</div>
                                                        </div>
                                                    </div> <!-- end of posts-single -->
                                                </div>
                                            </div>
                                        </div> <!-- end of recent-posts-widget -->
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-2">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Information</h4>
                                    <div class="widget-content">
                                        <div class="widgetized-menu">
                                            <ul class="list-unstyled">
                                                <li><a href="#">About Us</a></li>
                                                <li><a href="#">Delivery Information</a></li>
                                                <li><a href="#">Privacy Policy</a></li>
                                                <li><a href="#">Terms &amp; Conditions</a></li>
                                                <li><a href="#">Brands</a></li>
                                                <li><a href="#">Gift Certificates</a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <aside class="widget-container">
                                    <h4 class="widgettitle">Popular Tags</h4>
                                    <div class="widget-content">
                                        <div class="tags-widget">
                                            <ul>
                                                <li><a href="#">headphones</a></li>
                                                <li><a href="#">mobile</a></li>
                                                <li><a href="#">gamepad</a></li>
                                                <li><a href="#">cameras</a></li>
                                                <li><a href="#">drone</a></li>
                                                <li><a href="#">tvs</a></li>
                                                <li><a href="#">smartwatch</a></li>
                                            </ul>
                                        </div>
                                    </div> <!-- end of widget-content -->
                                </aside> <!-- end of widget-container -->
                            </div>
                        </div> <!-- end of row -->
                    </div> <!-- end of footer-inner -->
                </div> <!-- end of container -->
            </div> <!-- end of footer-widgets-area -->

            <!-- Footer Description -->
            <div class="footer-description">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12">
                            <h2>Online Shopping at Ororus.</h2>
                            <p>Our extensive and affordable range features the very latest electronics and gadgets including smart phones, tablets, smart watches, action cams, tv boxes, televisions, drones, 3d printers, car dvr, along with the latest cool toys like scooters, gaming accessories, doll houses, pretend play and high quality lifestyle products comprising vacuum cleaners, air purifier, kitchen tools, ceiling lights, flashlight, oil painting, etc.</p>
                        </div>
                    </div> <!-- endo of row -->
                </div> <!-- end of container -->
            </div> <!-- end of footer-description -->

            <!-- Footer Copyright -->
            <div class="footer-copyright">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <p class="copyright-text">Copyright © 2018 <a href="http://www.17sucai.com/" rel="nofollow">Ororus Themes</a>. All Right Reserved.</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="footer-payment">
                                <ul>
                                    <li><a href="#"><img src="assets/images/icons/payment-1.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-2.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-3.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-4.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-5.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="assets/images/icons/payment-6.jpg" alt="Payment Icons"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of footer-copyright -->
        </footer>
        <!-- End of Footer -->

        <!-- Start of Scroll to Top -->
        <div id="to_top">
            <i class="ion ion-ios-arrow-forward"></i>
            <i class="ion ion-ios-arrow-forward"></i>
        </div>
        <!-- End of Scroll to Top -->
    </div>
    <!-- End of Whole Site Wrapper -->

    <!-- Initializing Photoswipe -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Photoswipe -->

	<script LANGUAGE="javascript" type="text/javascript">
		window.onload=function(){
			$.ajax({
				url:"ReceiptMsg",
				success:function(){
					
				},
				error:function(){
					alert("系统异常！！");
				}
			});
		}
		
		function changeInfo(){
			　window.open ("404.html", 
					"newwindow", 
					"height=400, width=400, top=30%, left=30%,toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no");
		}
		
		/* function ConfirmReceipt(id){
			alert("确认收货 ,id"+id);
			windows.location.href();
		} */
		
	</script>

    <!-- JS
    ============================================ -->

  <div th:replace="common_js.html::commonOnLoadJs"></div>

</body>
</html>
